## Challenge 1

In [ ]:
SELECT a.au_id AS [AUTHOR ID], a.au_lname AS [LAST NAME], a.au_fname AS [FIRST NAME], t.title AS [TITLE], p.pub_name AS [PUBLISHER]
FROM authors as a
    INNER JOIN titleauthor AS ta ON a.au_id = ta.au_id
    INNER JOIN titles AS t ON ta.title_id = t.title_id
    INNER JOIN publishers as p ON t.pub_id = p.pub_id
ORDER BY [AUTHOR ID]

## Challenge 2

In [ ]:
SELECT ga.au_id AS [AUTHOR ID], ga.au_lname AS [LAST NAME], ga.au_fname AS [FIRST NAME], t.title AS [TITLE], p.pub_name AS [PUBLISHER]
    ,COUNT(DISTINCT t.pub_id) AS [TITLE COUNT]
FROM guest.authors as ga
    INNER JOIN guest.titleauthor AS ta ON ga.au_id = ta.au_id
    INNER JOIN guest.titles AS t ON ta.title_id = t.title_id
    INNER JOIN guest.publishers as p ON t.pub_id = p.pub_id
    GROUP BY  t.pub_id, p.pub_name, ga.au_id, ga.au_lname, ga.au_fname,t.title
ORDER BY [TITLE COUNT]

## Challenge 3

In [ ]:
SELECT TOP(3) ga.au_id AS [AUTHOR ID], ga.au_lname AS [LAST NAME], ga.au_fname AS [FIRST NAME], SUM(s.qty) AS [TOTAL]
FROM guest.authors as ga
    INNER JOIN guest.titleauthor AS ta ON ga.au_id = ta.au_id
    INNER JOIN guest.sales as s ON ta.title_id = s.title_id
GROUP BY ga.au_id, ga.au_lname, ga.au_fname
ORDER BY [TOTAL] DESC

## Challenge 4

In [ ]:
SELECT ga.au_id AS [AUTHOR ID], ga.au_lname AS [LAST NAME], ga.au_fname AS [FIRST NAME], SUM(s.qty) AS [TOTAL]
FROM guest.authors as ga
    FULL JOIN guest.titleauthor AS ta ON ga.au_id = ta.au_id
    FULL JOIN guest.sales as s ON ta.title_id = s.title_id
GROUP BY ga.au_id, ga.au_lname, ga.au_fname
ORDER BY [TOTAL] DESC