## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [32]:
sample_list_1 = random.sample(range(0, 100), 80)
print(str(sample_list_1))

[56, 93, 97, 33, 68, 66, 90, 76, 49, 94, 75, 58, 8, 50, 54, 95, 85, 19, 89, 21, 82, 92, 38, 99, 87, 35, 13, 2, 36, 84, 0, 42, 77, 3, 88, 78, 79, 39, 52, 29, 65, 55, 24, 1, 80, 34, 51, 71, 70, 7, 22, 40, 83, 63, 43, 20, 62, 27, 72, 44, 11, 12, 14, 37, 23, 4, 41, 45, 18, 86, 61, 69, 57, 64, 81, 30, 17, 59, 96, 26]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here

set1 = set(sample_list_1)
print(set1)

{1, 3, 4, 5, 8, 10, 12, 14, 16, 17, 18, 19, 20, 21, 24, 26, 28, 29, 38, 39, 40, 41, 42, 43, 48, 49, 50, 51, 52, 53, 57, 58, 59, 60, 61, 64, 65, 66, 67, 69, 70, 72, 74, 76, 78, 79, 82, 85, 89, 91, 95, 96, 97, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [35]:
# Your code here
sample_list_2=[]
n=80
for i in range(n):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
print(len(sample_list_2))

[49, 12, 76, 3, 89, 67, 70, 96, 79, 89, 10, 20, 95, 55, 68, 76, 88, 71, 99, 24, 20, 10, 0, 76, 33, 63, 61, 20, 71, 79, 97, 10, 83, 6, 63, 21, 2, 4, 44, 16, 0, 57, 40, 86, 99, 51, 11, 46, 34, 86, 87, 44, 10, 65, 10, 5, 42, 8, 49, 78, 76, 47, 90, 41, 75, 43, 82, 59, 75, 5, 92, 57, 86, 69, 58, 52, 23, 48, 0, 84]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [34]:
# Your code here

set2 = set(sample_list_2)
print(sample_list_2)
print(len(sample_list_2))

[76, 75, 34, 39, 39, 66, 99, 68, 25, 74, 84, 61, 60, 100, 58, 71, 84, 39, 44, 0, 36, 98, 41, 87, 47, 8, 69, 19, 27, 97, 99, 63, 76, 25, 73, 84, 78, 12, 55, 15, 27, 34, 34, 30, 34, 75, 32, 93, 81, 58, 36, 15, 13, 73, 43, 91, 21, 93, 74, 82, 49, 18, 75, 92, 76, 52, 90, 32, 31, 63, 61, 45, 19, 92, 22, 39, 96, 9, 36, 43]
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [ ]:
# Your code here

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [ ]:
# Your code here

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [ ]:
# Your code here

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here