## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[90, 63, 8, 45, 98, 48, 51, 77, 44, 35, 83, 25, 97, 39, 99, 88, 37, 26, 69, 55, 78, 9, 24, 53, 64, 5, 20, 92, 76, 93, 28, 11, 17, 23, 61, 70, 66, 27, 57, 3, 85, 29, 94, 74, 22, 13, 21, 80, 59, 40, 30, 86, 65, 14, 16, 4, 18, 52, 38, 56, 2, 50, 68, 58, 1, 34, 79, 72, 31, 47, 81, 62, 60, 96, 91, 36, 41, 46, 42, 49]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)
print(set1)

{1, 2, 3, 4, 5, 8, 9, 11, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 83, 85, 86, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(0,80):
    i = random.randint(0,100)
    sample_list_2.append(i)
print(sample_list_2)

[37, 83, 25, 57, 22, 56, 67, 42, 55, 45, 24, 92, 31, 84, 83, 38, 16, 85, 95, 25, 36, 14, 15, 36, 96, 8, 48, 37, 20, 24, 76, 64, 96, 34, 2, 83, 4, 70, 89, 32, 41, 69, 96, 14, 18, 80, 21, 64, 21, 30, 67, 96, 61, 7, 41, 19, 97, 95, 77, 98, 80, 15, 62, 10, 79, 62, 2, 37, 61, 93, 83, 81, 18, 39, 17, 46, 90, 34, 22, 93]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
print(set2)
print(len(sample_list_2))

{2, 4, 7, 8, 10, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 30, 31, 32, 34, 36, 37, 38, 39, 41, 42, 45, 46, 48, 55, 56, 57, 61, 62, 64, 67, 69, 70, 76, 77, 79, 80, 81, 83, 84, 85, 89, 90, 92, 93, 95, 96, 97, 98}
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
lista = []
for i in set1:
    if i not in set2:
        lista.append(i)
set3 = set(lista)   
print(set3)

{1, 3, 5, 9, 11, 13, 23, 26, 27, 28, 29, 35, 40, 44, 47, 49, 50, 51, 52, 53, 58, 59, 60, 63, 65, 66, 68, 72, 74, 78, 86, 88, 91, 94, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
lista1 = []
for i in set2:
    if i not in set1:
        lista1.append(i)
set4 = set(lista1)   
print(set4)

{32, 67, 7, 10, 15, 19, 84, 89, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
lista2 = []
for i in set1:
    if i in set2:
        lista2.append(i)
set5 = set(lista2)   
print(set5)

{2, 4, 8, 14, 16, 17, 18, 20, 21, 22, 24, 25, 30, 31, 34, 36, 37, 38, 39, 41, 42, 45, 46, 48, 55, 56, 57, 61, 62, 64, 69, 70, 76, 77, 79, 80, 81, 83, 85, 90, 92, 93, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(len(set1) == len(set2) + len(set3) - len(set4))
print(len(set1) == len(set3) + len(set5))

80
54
35
9
45
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()
print(type(set6))
set6.update(set3)
set6.update(set5)
print(set6)

<class 'set'>
{1, 2, 3, 4, 5, 8, 9, 11, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 83, 85, 86, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set1==set6

True

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
x = set1.issubset(set2)
print(x)
y = set1.issubset(set3) 
print(y)

False
False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set3_4_5 = set3.union(set4).union(set5)
print(set3_4_5)

set1_2 = set1.union(set2)
print(set1_2)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
set1.pop() 
print(set1)

{2, 3, 4, 5, 8, 9, 11, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 76, 77, 78, 79, 80, 81, 83, 85, 86, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in set1:
    if i in list_to_remove:
        list_to_remove.remove(i)
print(list_to_remove)

[1, 19, 71, 89]